<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/css/denegado.css}" rel="stylesheet" />
<head>
    <meta charset="UTF-8">
    <title>Acceso denegado</title>
    
</head>
<body>


<h1>404 Error </h1>
<p class="zoom-area"><b>¡Lo sentimos!</b> Usted ya ha votado </p>
<section class="error-container">
  <span><span>4</span></span>
  <span>0</span>
  <span><span>4</span></span>
</section>
<div class="link-container">
  <a  th:href="@{/}" class="more-link">Regresar a pagina principal</a>
</div>




<h1>¡Lo sentimos! Usted ya realizo su voto...</h1>
</body>
</html>