<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login </title>
  <link rel="stylesheet" href="css\master2.css">
</head>

<body>

  <div class="login-box">
    <img src="img/LOGOts2.png" class="avatar" alt="Avatar Image">
    <h1>Inicio de sesión</h1>
    
    <form>
      <!-- USERNAME INPUT -->
      <label for="username">Usuario</label>
      <input type="text" placeholder="Ingresar DUI">
      <!-- PASSWORD INPUT -->
      <label for="password">Contraseña</label>
      <input type="password" placeholder="Ingresar contraseña ">
      <input type="submit" value="Iniciar sesion">
      <a href="#">No recuerdas tu contraseña?</a><br>
      <a href="#">Contactar a soporte</a>
    </form>
    <img src="/img/LogoGOBES.svg" class="imagen" alt="gob image" >
    <img src="/img/LogoGOBES.svg" class="imagen2" alt="gob image" >
  </div>

</body>

</html>