<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>Partidos participantes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans&display=swap" rel="stylesheet">
	  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	  <link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet">
	  <link th:href="@{/css/templatemo-leadership-event.css}" rel="stylesheet">
	  <link
			  href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"
			  rel="stylesheet">
		
		<link rel="stylesheet" href="css/stylepar.css">
  </head>
  <body>

  <div class="d-flex flex-column ms-auto pe-4 pt-2">
	  <h5>
		  <a th:href="@{/}">Volver</a>
	  </h5>
  </div>
		
		<div class="wrapper">

	<h2><strong>Partidos políticos legalmente inscritos<span>(Por orden alfabético )</span></strong></h2>
	
	<p style="color: grey";>Actualizado el 24 de enero de 2022</p>

	<div class="cards">

		<figure class="card">

			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Alianza_Republicana_Nacionalista.svg/1200px-Alianza_Republicana_Nacionalista.svg.png" />

			<figcaption>ARENA</figcaption>

		</figure>

		<figure class="card">

			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_PCN.svg/640px-Flag_PCN.svg.png" />

			<figcaption>PCN</figcaption>

		</figure>

		<figure class="card">

			<img src="https://upload.wikimedia.org/wikipedia/commons/b/ba/Bandera_-_Frente_Farabundo_Mart%C3%AD_para_la_Liberaci%C3%B3n_Nacional.svg" />

			<figcaption>FMLN</figcaption>

		</figure>

		<figure class="card">

			<img src="https://pbs.twimg.com/profile_images/1552395675383615491/IxD9Lyqa_400x400.jpg" />

			<figcaption>GANA</figcaption>

		</figure>
		
		<figure class="card">

			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Bandera_Nuevas_Ideas.svg/1200px-Bandera_Nuevas_Ideas.svg.png" />

			<figcaption>Nuevas Ideas</figcaption>

		</figure>

	</div>


	<h2><strong>Partidos políticos cancelados después de las elecciones 2018<span></span></strong></h2>
	
	<p style="color: grey";>Actualizado el 2 de enero de 2022</p>

	<div class="cards">

		<figure class="card">

			<img src="https://www.crwflags.com/fotw/images/s/sv%7Dpsd2.gif" />

		</figure>

		<figure class="card">

			<img src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Bandera_Fraternidad_Patriota_Salvadorena.gif?20150328170530" height="100"/>


		</figure>

		<figure class="card">

			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Bandera_PSP.jpg/800px-Bandera_PSP.jpg" />


		</figure>

	</div>
	

</div>
		
		
		

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>